/* VLC Web Interface Graphite CSS */
/* Created by Lucas Steigmeyer    */
/* Version 1.0                    */
/* ------------------------------ */


/* Page Body */
body{
	font-family:verdana, arial, tahoma;
	color:#333333;
	background-color:#999999;
	
	margin-top:0px;
}

/* Out of box Header */
div.oobHeader{
	text-align:center;
	font-size: 12px;
	font-weight: bold;
}

/* Section Header */
div.sect_head{
    background-color: #666666;
    border: 1px black solid;
    border-bottom: 0pt black none;
	
	font-size:9px;
    font-weight: bold;
	color: #FFFFFF;
    padding: 0pt 5pt;
}

/* Section Content */
div.sect_content{
	font-size:9px;
	background-color: #CCCCCC;
    border: 1px black solid;
    padding: 5pt;
}

/* Section Controls */
div.sect_control{
	font-size:9px;
	text-align:center;
	background-color: #CCCCCC;
    border: 1px black solid;
    padding: 5pt;
}

span.small{
font-size:8px;
}

span.copyright{
color:#CCCCCC;
font-size:8px;
text-align:center;
}

/* Input */
input{
	background-color:#E4E4E4;
}

a:link {
	color: #666666;
}
a:visited {
	color: #666666;
}
a:hover {
	color: #999999;
}
a:active {
	color: #666666;
}