[Unit]
Description=Pi-Dashboard Service
After=network-online.target
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
TimeoutStartSec=0
Type=forking
Restart=always
RestartSec=10s
ExecStart=-/home/pi/pi-dash/build/app
StandardOutput=inherit
StandardError=inherit
User=pi
Type=simple
NotifyAccess=All

[Install]
WantedBy=multi-user.target