[Unit]
Description=Get System Info
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/pi-dash/scripts/hostStats.py
StandardOutput=inherit
StandardError=inherit
TimeoutStartSec=0
Restart=always
User=pi
Group=root

[Install]
WantedBy=multi-user.target