<div class="col">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header bg-info" id={{host}}-title>
            <div class="row">
                <div class="col">
            <h5 class="card-title">{{ host }} <small class="smallIP">{{ ip }}</small></h5>
        </div>
        <div class="col">
            <button href = "#" onclick="{{update_function}}()" class="col update btn float-end" title="Run Updates"></button>
            
            <script>
                function {{update_function}} () {
                let headersList = {
                    "Accept": "*/*",
                    "User-Agent": "Thunder Client (https://www.thunderclient.io)"
                }
                document.getElementById("{{host}}-title").classList.toggle("bg-info");
                document.getElementById("{{host}}-title").classList.toggle("bg-warning");
                fetch("{{ update_path }}", {
                    method: "GET",
                    headers: headersList
                }).then(function (response) {
                    return response.text();
                }).then(function (data) {
                    console.log(data);
                    document.getElementById("{{host}}-title").classList.toggle("bg-info");
                    document.getElementById("{{host}}-title").classList.toggle("bg-warning");
                })
            }
            </script>

            <button href = "#" onclick="javascript:{{reboot_function }}()" class="col power btn float-end" title="Reboot"></button>
            
            <button class="col accordion-button float-end" type="button" data-bs-toggle="collapse" data-bs-target="#{{host}}_body" aria-expanded="true" aria-controls="{{host}}_body"></button>
        </div>
            
        </div>
        </div>
        <div class="card-body no-scroll accordion-collapse collapse show" data-bs-parent="#accordionExample" style="min-width:320px; min-height: 215px;" id="{{host}}_body">
            {{cardBody|safe}}

        </div>
        <div id={{host}} class="card-footer">
            <div class="row">
                <div class="col">
                <span>CPU</span>
                    </div>
                    <div class="col">
                <span>Mem</span>
                    </div>
                <div class="col">
                <span>Network</span>
                    </div>
                </div>
            <div class='row'>
                <div id="cpu" class='col'>{{cpu}}%</div>
                <div id="vm" class='col'>{{vm}}%</div>
                <div id="net" class='col'>{{network}}<small>Mpbs</small></div>
                
            </div>
            <script>
                setInterval(function() {
                    let headersList = {
                    "Accept": "*/*",
                    "User-Agent": "Thunder Client (https://www.thunderclient.io)",
                    "Access-Control-Allow-Origin": "*"
                    }
                

                fetch("http://{{ ip }}:5000/sysinfo", {
                    method: "POST",
                    headers: headersList
                }).then(function (response) {
                    // console.log(response.text());
                    response.text().then(sysinfo => {
                        sysinfo = sysinfo.split(",");
                        console.log(sysinfo);
                    document.getElementById("{{host}}").querySelector("#cpu").innerHTML = sysinfo[1] +"%";
                    if (sysinfo[1] == 'unknown') {
                        document.getElementById("{{host}}").querySelector("#cpu").classList.add("bg-danger");
                    }
                    if (sysinfo[1] > 70) {
                        document.getElementById("{{host}}").querySelector("#cpu").classList.add("bg-danger");
                    } else {
                        document.getElementById("{{host}}").querySelector("#cpu").classList.remove("bg-danger");
                    }
                    if (sysinfo[1] > 40) {
                        document.getElementById("{{host}}").querySelector("#cpu").classList.add("bg-warning");
                    } else {
                        document.getElementById("{{host}}").querySelector("#cpu").classList.remove("bg-warning");
                    }
                    if (sysinfo[1] < 39) {
                        document.getElementById("{{host}}").querySelector("#cpu").classList.add("bg-success");
                    } else {
                        document.getElementById("{{host}}").querySelector("#cpu").classList.remove("bg-success");
                    }
                    document.getElementById("{{host}}").querySelector("#vm").innerHTML = sysinfo[2] +"%";
                    if (sysinfo[2] == 'unknown') {
                        document.getElementById("{{host}}").querySelector("#vm").classList.add("bg-danger");
                    }
                    if (sysinfo[2] > 70) {
                        document.getElementById("{{host}}").querySelector("#vm").classList.add("bg-danger");
                    } else {
                        document.getElementById("{{host}}").querySelector("#vm").classList.remove("bg-danger");
                    }
                    if (sysinfo[2] > 40) {
                        document.getElementById("{{host}}").querySelector("#vm").classList.add("bg-warning");
                    } else {
                        document.getElementById("{{host}}").querySelector("#vm").classList.remove("bg-warning");
                    }
                    if (sysinfo[2] < 39) {
                        document.getElementById("{{host}}").querySelector("#vm").classList.add("bg-success");
                    } else {
                        document.getElementById("{{host}}").querySelector("#vm").classList.remove("bg-success");
                    }
                    document.getElementById("{{host}}").querySelector("#net").innerHTML = sysinfo[3] + "<small>Mbps</small>";
                    if (sysinfo[3] == 'unknown') {
                        document.getElementById("{{host}}").querySelector("#net").classList.add("bg-danger");
                    }
                    if (sysinfo[3] < 13) {
                        document.getElementById("{{host}}").querySelector("#net").classList.add("bg-danger");
                    } else {
                        document.getElementById("{{host}}").querySelector("#net").classList.remove("bg-danger");
                    }
                    if (sysinfo[3] < 16.9) {
                        document.getElementById("{{host}}").querySelector("#net").classList.add("bg-warning");
                    } else {
                        document.getElementById("{{host}}").querySelector("#net").classList.remove("bg-warning");
                    }
                    if (sysinfo[3] > 17) {
                        document.getElementById("{{host}}").querySelector("#net").classList.add("bg-success");
                    } else {
                        document.getElementById("{{host}}").querySelector("#net").classList.remove("bg-success");
                    }
                    })
                    
                }).then(function (data) {
                    console.log(data);
                })
                }, 13000);
                function {{reboot_function}} () {
                let headersList = {
                    "Accept": "*/*",
                    "User-Agent": "Thunder Client (https://www.thunderclient.io)"
                }
                
                fetch("{{ reboot_path }}", {
                    method: "GET",
                    headers: headersList
                }).then(function (response) {
                    return response.text();
                }).then(function (data) {
                    console.log(data);
                })
            }
            </script>
        </div>
    </div>
</div>