<div class="col">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header bg-info" id={{host}}-title>
            <div class="row">
                <div class="col">
            <h5 class="card-title">{{ host }}</h5>
        </div>
        <div class="col">
            <button href = "#" onclick="{{update_function}}()" class="col update btn float-end" title="Run Updates"></button>
            
            <script>
                function {{update_function}} () {
                let headersList = {
                    "Accept": "*/*",
                    "User-Agent": "Thunder Client (https://www.thunderclient.io)"
                }
                document.getElementById("{{host}}-title").classList.toggle("bg-info");
                document.getElementById("{{host}}-title").classList.toggle("bg-warning");
                fetch("{{ update_path }}", {
                    method: "GET",
                    headers: headersList
                }).then(function (response) {
                    return response.text();
                }).then(function (data) {
                    console.log(data);
                    document.getElementById("{{host}}-title").classList.toggle("bg-info");
                    document.getElementById("{{host}}-title").classList.toggle("bg-warning");
                })
            }
            </script>

            <button href = "#" onclick="javascript:{{reboot_function }}()" class="col power btn float-end" title="Reboot"></button>
            </div>
        </div>
        </div>
        <div class="card-body no-scroll" style="min-width:320px; min-height: 215px;">
            {{cardBody|safe}}

        </div>
        <div id={{host}} class="card-footer">
            <div class="row">
                <div class="col">
                <span>CPU</span>
                    </div>
                    <div class="col">
                <span>Mem</span>
                    </div>
                <div class="col">
                <span>Network</span>
                    </div>
                </div>
            <div class='row'>
                <div id="cpu" class='col'>{{cpu}}%</div>
                <div id="vm" class='col'>{{vm}}%</div>
                <div id="net" class='col'>{{network}} <small>Mpbs</small></div>
                
            </div>
            <script>
                setInterval(function() {
                    let headersList = {
                    "Accept": "*/*",
                    "User-Agent": "Thunder Client (https://www.thunderclient.io)",
                    "Access-Control-Allow-Origin": "*"
                    }
                

                fetch("http://{{ ip }}:5000/sysinfo", {
                    method: "POST",
                    headers: headersList
                }).then(function (response) {
                    // console.log(response.text());
                    response.text().then(sysinfo => {
                        sysinfo = sysinfo.split(",");
                    document.getElementById("{{host}}").querySelector("#cpu").innerHTML = sysinfo[1];
                    document.getElementById("{{host}}").querySelector("#vm").innerHTML = sysinfo[2];
                    document.getElementById("{{host}}").querySelector("#net").innerHTML = sysinfo[3] + "<small>Mbps</small>";
                    // })
                    })
                    
                }).then(function (data) {
                    console.log(data);
                })
                }, 13000);
                function {{reboot_function}} () {
                let headersList = {
                    "Accept": "*/*",
                    "User-Agent": "Thunder Client (https://www.thunderclient.io)"
                }
                
                fetch("{{ reboot_path }}", {
                    method: "GET",
                    headers: headersList
                }).then(function (response) {
                    return response.text();
                }).then(function (data) {
                    console.log(data);
                })
            }
            </script>
        </div>
    </div>
</div>