<div class="col">
    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <div class="card-header bg-info">
            <h5 class="card-title">{{ host }}</h5>
        </div>
        <div class="card-body">
            <iframe src="https://{{ ip }}:8080/ title="vlc control"></iframe>
        </div>
        <div class="card-footer">
            <div class='row'>
                <div class='col bg-danger'>{{cpu}}</div>
                <div class='col'>{{vm}}</div>
                <div class='col'>{{network}}</div>
                <a href = "#" onclick="javascript:{{reboot_function }}()" class="col btn btn-primary">Restart</a>
            </div>
            <script>
                function {{reboot_function}} () {
                let headersList = {
                    "Accept": "*/*",
                    "User-Agent": "Thunder Client (https://www.thunderclient.io)"
                }

                fetch("{{ reboot_path }}", {
                    method: "GET",
                    headers: headersList
                }).then(function (response) {
                    return response.text();
                }).then(function (data) {
                    console.log(data);
                })
            }
            </script>
        </div>
    </div>
</div>