<div id="{{ip}}_parent">Start VLC Below</div>
<div class='row'>
    <div class="col">
<button href = "#" onclick="vlcStartA_{{host}}()" class="col btn btn-info" title="Start VLC">ChannelA</button></div>
<div class="col">
<button href = "#" onclick="vlcStartB_{{host}}()" class="col btn btn-info" title="Start VLC">ChannelB</button>     </div>
</div>    
            <script>
                function vlcStartA_{{host}}() {
                let headersList = {
                    "Accept": "*/*",
                    "User-Agent": "Thunder Client (https://www.thunderclient.io)"
                }

                fetch("http://{{ ip }}:5000/startVLCA", {
                    method: "POST",
                    headers: headersList
                }).then(function (response) {
                    return response.text();
                }).then(function (data) {
                    if (data == "started"):
                        parent = document.getElementById("{{ip}}_parent").parentElement;
                        while (parent.firstChild) {
                            parent.removeChild(parent.firstChild);
                        }
                        parent.innerHTML = '<iframe src="http://{{ ip }}:8080/temple.html" style="min-width:308px; min-height: 205px;"></iframe>'
                })
            }
            </script>
            <script>
                function vlcStartB_{{host}}() {
                let headersList = {
                    "Accept": "*/*",
                    "User-Agent": "Thunder Client (https://www.thunderclient.io)"
                }

                fetch("http://{{ ip }}:5000/startVLCB", {
                    method: "POST",
                    headers: headersList
                }).then(function (response) {
                    return response.text();
                }).then(function (data) {
                    if (data == "started"):
                        parent = document.getElementById("{{ip}}_parent").parentElement;
                        while (parent.firstChild) {
                            parent.removeChild(parent.firstChild);
                        }
                        parent.innerHTML = '<iframe src="http://{{ ip }}:8080/temple.html" style="min-width:308px; min-height: 205px;"></iframe>'
                    console.log(data);
                })
            }
            </script>