<div>VLC not started...</div>
<button href = "#" onclick="vlcStart_{{ip}}()" class="col update btn float-end" title="Start VLC"></button>
            
            <script>
                function vlcStart_{{ip}} () {
                let headersList = {
                    "Accept": "*/*",
                    "User-Agent": "Thunder Client (https://www.thunderclient.io)"
                }

                fetch("http://{{ ip }}:5000/startVLC", {
                    method: "GET",
                    headers: headersList
                }).then(function (response) {
                    return response.text();
                }).then(function (data) {
                    console.log(data);
                })
            }
            </script>